
<h1>Welcome to e-commerce mockup site (mobile exmaple)</h1>

<p>Reactive forms controll example - Favorite Phone: </p><input id="favoriteColorControl" type="text" [formControl]="favoriteColorControl">
{{favPhone}}
<h4>Routeguard example implemented for Apple link</h4>
<a routerLink="/samsung" routerLinkActive="active">Samsung</a>
||
<a routerLink="/apple" routerLinkActive="active">Apple</a>
||
<a routerLink="/mi" routerLinkActive="active">Mi</a>
||
<a routerLink="/accessories" routerLinkActive="active">Accessories</a>
<p></p>
<router-outlet></router-outlet>
